<div class = "row">
    <h2>Lista de Usuários</h2>
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th> Nome </th>
            <th> CPF </th>
            <th> RG </th>
            <th> Status </th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let sorvete of sorvetes" >
            <td> {{ sorvete.nome }} </td>
            <td> {{ sorvete.cpf }} </td>
            <td> {{ sorvete.rg }} </td>
            <td> {{ sorvete.status }} </td>
            <td>  
                <button (click) = "updateSorvete(sorvete.id_sorvete)" class = "btn btn-primary"> Atualizar</button >
                <button (click) = "deleteSorvete(sorvete.id_sorvete)" class = "btn btn-danger" style="margin-left: 10px"> Deletar</button>
                <button (click) = "sorveteDetails(sorvete.id_sorvete)" class = "btn btn-primary" style="margin-left: 10px"> Consultar</button>
            
            </td>
        </tr>
    </tbody>
</table>
